<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slippery Slope</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <form class="" action="/task" method="post">
            <div class="input-field col s12">
                <input type="text" name="title" />
            </div>

            <div class="input-field col s12">
                <select class="icons" name="status">
                    <% statusies.forEach(status => { %>
                    <option class="" value="<%= status.id %>"><%= status.title %></option>
                    <% }); %>
                </select>
            </div>

            <div class="input-field col s12">
                <select class="icons" name="task_type">
                    <% task_types.forEach(task => { %>
                    <option value="<%= task.id %>"><%= task.title %></option>
                    <% }); %>
                </select>
            </div>

            <div class="input-field col s12">
                <select class="" name="urgency">
                    <% urgencies.forEach(urgency => { %>
                    <option value="<%= urgency.id %>"><%= urgency.title %></option>
                    <% }); %>
                </select>
            </div>

            <div class="input-field col s12">
                <select class="" name="importance">
                    <% importances.forEach(importance => { %>
                    <option value="<%= importance.id %>"><%= importance.title %></option>
                    <% }); %>
                </select>
            </div>

            <div class="input-field col s12">
                <textarea name="description" rows="8" cols="80"></textarea>
            </div>

            <div class="input-field col s12">
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</body>
</html>
